h1,h3{
  test-transform: uppercase;
}
h1{
  font-size: 40px;
}
h3{
  font-size: 20px;
}

hr {
  width: 100%;
  border: none; /* Убираем границу для браузера Firefox */
  color: lightgrey; /* Цвет линии для остальных браузеров */
  background-color: lightgrey; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}

div.parent{
  display: table;
}
div.child{
  background: honeydew;
  display: table-cell;
  vertical-align: middle;
}
img{
  box-shadow: 5px 5px 10px darkgray;
  position: sticky;
  top:0;
}

.borderShadow{
  border-radius: 5px;
  border: #f3f3f3;
  box-shadow: 3px 3px 10px lightgray;
}

.miniBorderShadow{
  border-radius: 5px;
  border: white;
  box-shadow: 3px 3px 3px lightgrey;
}
