

<ngb-carousel [pauseOnHover]="false" interval="5000"  class="tbMargin20" >
  <ng-template ngbSlide *ngFor="let i of [0, 1, 2]">
    <div class="picsum-img-wrapper">
      <img src="{{pathToMainImg[i]}}" alt="Angular Carousel {{i}}">
    </div>
    <div class="carousel-caption">
      <h3>Расскажите о своих <span class="redFont">чувствах </span>на языке цветов</h3>
      <p> Цветы &#8212; это наше вдохновение для создания прочных воспоминаний.
      </p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="wdth80 tbMargin40">
  <mat-grid-list class="scale" cols="6" rowHeight="1:1" gutterSize="10">
    <mat-grid-tile  *ngFor="let ends of topImg">
      <img src="{{startOfPathToImgs}}{{ends}}" [textContent]="topImg" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="wdth50 tbMargin40 txtCenter">
  <p><img src="../../../assets/mainPage/FlowerSeparator1.jpg"></p>
  <p>“Дарите женщинам цветы. Не только в праздники, как водится, а средь забот и суеты. ”</p>
</div>

<div class="wdth80 tbMargin20">
  <mat-grid-list cols="6" rowHeight="1:1" gutterSize="10">
    <mat-grid-tile class="scale"  *ngFor="let ends of Sq">
      <img src="{{startOfPathToImgs}}{{ends}}" width="100%" >
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="tbMargin40 txtCenter">
  <br>
  <p class = "tbMargin20"><img src="../../../assets/mainPage/FlowerSeparator3.jpg"></p>
  <h3>СДЕЛАЙ КОГО-НИБУДЬ СЧАСЛИВЫМ</h3>
  <p class="wdth50 tbMargin20">Порадуйте своего близкого человека цветами. Абсолютно каждая женщина ждет
  своего букета.</p>
  <br>
</div>

<div class="wdth70 tbMargin40">
  <mat-grid-list class="scale" cols="4" rowHeight="1:1" gutterSize="20" >
    <mat-grid-tile *ngFor="let elem of MakeSomHap" [colspan]="elem.colspan" [rowspan]="elem.rowspan">
      <img src="{{startOfPathToImgs}}{{elem.title}}" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="tbMargin40 txtCenter">
  <br>
  <p class="tbMargin20"><img src="../../../assets/mainPage/FlowerSeparator2.jpg"></p>
  <h3>ЗАКАЗЫВАЙТЕ У НАС СВАДЕБНЫЕ БУКЕТЫ</h3>
  <p class="wdth40 tbMargin20"> Мы поможем сделать свадьбу одним из лучших моментов вашей жизни.</p>
  <br>
</div>

<div class="wdth70 tbMargin40 txtCenter">
  <mat-grid-list class="scale"  cols="3" rowHeight="1:1" gutterSize="40" >
    <mat-grid-tile *ngFor="let ends of Wedd"><img src="{{startOfPathToImgs}}{{ends}}" width="100%"></mat-grid-tile>
  </mat-grid-list>
</div>


<div class="wdth50 tbMargin40 txtCenter">
  <p><img src="../../../assets/mainPage/FlowerSeparator5.jpg"></p>
</div>



