.titleDiv{
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 10%;
  width: 30%;
}
h3{
  font-size: 150%;
  font-weight: normal;
}
p{
  font-weight: lighter;
  font-size: 25px;
  line-height: 1.5;
}
hr {
  width: 70%;
  border: none; /* Убираем границу для браузера Firefox */
  /*color: lightgrey; !* Цвет линии для остальных браузеров *!*/
  /*background-color: lightgrey; !* Цвет линии для браузера Firefox и Opera *!*/
  height: 2px; /* Толщина линии */
}


/*CAROUSEL!!!!!!!!!!!!!!!*/
ngb-carousel {
  max-width: 100%;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}
