<div class="tbMargin20 greyBg txtCenter">
  <p class="title tbMargin20">Subscribe to <span class="redFont">Daily Newsletter</span></p>
  <p class="subTitle tbMargin20">Where flowers are our inspiration to create lasting memories.</p>

  <form [formGroup]="emailReactiveForm">
    <mat-form-field style="width:25%">
      <mat-label for="email">Email</mat-label>
      <input matInput id="email" formControlName="email"
             placeholder="Ex. pat@example.com">
    </mat-form-field>
    <button mat-button [disabled]="emailReactiveForm.invalid" (click)="onSubmit()">Subscribe</button>
  </form>
</div>

