<div class="tbMargin20 wdth80" style="display: flex;">
  <h1 class="titleFont" style="cursor: pointer;" routerLink="/">
    <span class="redFont">МАГА</span>ЗИН
  </h1>
  <div class="tbMargin20 right">
    <button mat-button [matMenuTriggerFor]="menu" class="titleFont myfontSize">menu</button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item class="titleFont">item 1</button>
      <button mat-menu-item class="titleFont">item 2</button>
    </mat-menu>
    <button mat-button class="titleFont myfontSize" routerLink="/catalog">catalog</button>
    <button mat-button class="titleFont myfontSize" routerLink="/contacts">about us</button>
    <button mat-button class="titleFont myfontSize" routerLink="/cart">
            <span *ngIf="this.ProductsService.getOrderLen() > 0">
              <mat-icon matBadge="{{this.ProductsService.getOrderLen()}}" matBadgePosition="after" matBadgeColor="warn">
                shopping_cart
              </mat-icon>
            </span>
      <span *ngIf="this.ProductsService.getOrderLen() === 0">
              <mat-icon>
                shopping_cart
              </mat-icon>
            </span>
    </button>
  </div>
</div>

