<div class="wdth70 tbMargin20 mintBg" style="padding: 2%; border: 5px double lightgray;">
  <p class="txtCenter playfairFontStyle" style="font-size: 30px;"> Оформление заказа: </p>
  <div class="wdth70" style="margin: auto;">
    <form [formGroup]="clientReactiveForm">
      <mat-form-field style="width: 100%;">
        <mat-label>Company: </mat-label> <input matInput disabled value="yourBOUQUET">
      </mat-form-field>


      <div style="display: flex;">
        <mat-form-field style="width: 32%; margin-right: 1%">
          <mat-label for="fname">Фамилия</mat-label>
          <input matInput id="fname" formControlName="fname">
          <mat-error *ngIf="isControlInvalid('fname')">
            Invalid First Name<strong></strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 33%; margin-right: 1%;" >
          <mat-label for="sname">Имя</mat-label>
          <input matInput id="sname" formControlName="sname">
          <mat-error *ngIf="isControlInvalid('sname')">
            Invalid Second Name <strong></strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 33%;">
          <mat-label for="lname">Отчество</mat-label>
          <input matInput id="lname" formControlName="lname">
          <mat-error *ngIf="isControlInvalid('lname')">
            Invalid Last Name <strong></strong>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field style="width:100%;">
        <mat-label for="email">Email</mat-label>
        <input matInput id="email" formControlName="email" >
        <mat-error *ngIf="isControlInvalid('email')">
          Invalid <strong>email</strong>
        </mat-error>
      </mat-form-field>

      <p>
        <mat-form-field style="width: 100%;">
          <mat-label for="phone">Телефон</mat-label>
          <span matPrefix>+ &nbsp;</span>
          <input type="tel" matInput placeholder="8005553535"
                 id="phone" formControlName="phone">
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="end">
            {{clientReactiveForm.controls['phone'].value.toString().length}} / 11
          </mat-hint>
          <mat-error *ngIf="isControlInvalid('phone')">
            Invalid phone<strong></strong>
          </mat-error>
        </mat-form-field>
      </p>

      <mat-form-field style="width: 100%; margin-right: 1%;">
        <mat-label for="state">Область</mat-label>
        <input matInput placeholder="Наприм. Тверская область"
               id="state" formControlName="state">
        <mat-error *ngIf="isControlInvalid('state')">
          Invalid state <strong></strong>
        </mat-error>
      </mat-form-field>

      <div style="display: flex;">
        <mat-form-field style="width: 60%; margin-right: 1%">
          <mat-label for="city">Город</mat-label>
          <input matInput placeholder="Наприм. Кимры"
                 id="city" formControlName="city">
          <mat-error *ngIf="isControlInvalid('city')">
            Invalid city<strong></strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 40%;">
          <mat-label for="postalCode">Почтовый индекс</mat-label>
          <input matInput maxlength="6" id="postalCode" formControlName="postalCode">
          <mat-hint align="end">
            {{this.clientReactiveForm.controls['postalCode'].value.toString().length}} / 6
          </mat-hint>
          <mat-error *ngIf="isControlInvalid('postalCode')">
            Enter <strong>5-6 numbers</strong>
          </mat-error>
        </mat-form-field>

      </div>
      <p>
        <mat-form-field style="width: 100%;">
          <mat-label for="address">Адрес</mat-label>
          <input matInput placeholder="Наприм. Коммунистическая 12а, 6"
                 id="address" formControlName="address">
        </mat-form-field>
        <mat-error *ngIf="isControlInvalid('address')">
          Use just <strong>letters</strong>
        </mat-error>
      </p>
      <div class="txtCenter">
        <button mat-button type="submit" (click)="onSubmit()" color="primary">
          Принять
        </button>
      </div>
    </form>
  </div>
</div>
