.scale img {
  transition: 2s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
}
.scale img:hover {
  transform: scale(1.07); /* Увеличиваем масштаб */
}
div.parent{
  background: honeydew;
  display: table;
}
div.child{
  display: table-cell;
  width: 17%;
  vertical-align: middle;
}
