<div class="minHeight wdth70 tbMargin20">
  <div class="mintBg wdth70 tbMargin20 playfairFontStyle txtJustify"
       style="padding: 20px 30px;">
    <p class="txtCenter">Доброго времени суток, <span>уважаемый посетитель</span>!</p>
    <div class="txtIndent">
      Мы рады предложить Вам новую функцию нашего сайта &#8212; <span>личный кабинет</span>!
      Если у Вас есть желание <span>отслеживать статус заказа</span> без необходимости
      звонить оператору и видеть <span> историю всех своих заказов</span>,
      то Вы можете зарегистрироваться или войти в уже созданный Вами кабинет.
      Если у Вас появятся какие-то пожелания к работе кабинета,
      мы будем рады Вашему отзыву, который Вы можете написать во вкладке 'КОНТАКТЫ'
    </div>
  </div>
  <div class="tbMargin20 txtCenter">
    <button style="margin: auto 0.5%;" mat-raised-button color="warn" (click)="signInDialogOpen()">ВОЙТИ</button>
    <button style="margin: auto 0.5%;" mat-raised-button (click)="signUpDialogOpen()">ЗАРЕГИСТРИРОВАТЬСЯ</button>
  </div>

</div>
