<div class="card" [ngStyle]="bouquet.in_stock == 0? {'background':'#fadadd'}: {'background':'white'}">

  <div id="header">
    <p>{{bouquet.name}}</p>
  </div>

  <div id="body">
      <img src={{bouquet.pict_url}}
           [routerLink]="['/prod', bouquet.bouquet_id]"
           alt="photo not found"
           width="100%"
           style="box-shadow: 0 0 10px rgba(0,0,0,0.1);
           cursor: pointer;">
  </div>

  <div id="footer1" *ngIf="bouquet.in_stock>0" style="display: flex;">
    <button class="inStock" (click) = "AddToCart()">+</button>
    <button class="inStock" (click) = "DropFromCart()">-</button>
    <input class="inStock" type="text" disabled placeholder="{{this.getAmountInOrder()}}">
  </div>
  <div id="footer2" *ngIf="bouquet.in_stock<=0" style="display: flex;">
    <button class="notInStock" (click) = "AddToCart()">+</button>
    <button class="notInStock" (click) = "DropFromCart()">-</button>
    <input class="notInStock" type="text" disabled placeholder="{{this.getAmountInOrder()}}">
  </div>
</div>

