.card{
  padding: 1%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 23%;
  display: inline-block;
  margin: 15px 1% 15px 1%;
}
p{
  padding: 2px;
  margin: 2px;
}

button{
   width: 23%;
   margin: 1%;
   padding: 2%;
   border: 0;
   font-size: 20px;
 }

button.inStock{
  background: white;
}

button.notInStock{
  background: #fadadd;
}

button.inStock:hover{
   background: #f3f3f3;
   border-radius: 5px;
   cursor: pointer;
}

button.notInStock:hover{
  background: #DDADAF;
  border-radius: 5px;
  cursor: pointer;
}

input{
  width: 33%;
  margin: 10px 0 10px auto;
  padding: 3px 7px 3px 7px;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: center;
}
input.inStock{
  background: white;
}
input.notInStock{
  background: #FFF0F5;
}
