.roundImg{
  border-radius: 100%;
}

.bigTxt{
  font-size: 25px;
}
.littleTxt{
  font-size: 15px;
}

.btn:focus{
  outline: 0 !important;
}
.btn:active  {
  outline:0;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
