<div class="minHeight wdth70 tbMargin20">

  <div *ngIf="this.cookieService.getBouqutCountInOrder()> 0; else orderIsEmptyError">
    <h2 class = "playfairFontStyle txtCenter tbMargin20">ВАША КОРЗИНА:</h2>
    <div class="parent">

      <div class="playfairFontStyle txtCenter cartTitles child" *ngFor="let title of titles">{{title}}</div>
    </div>

    <app-cart-product *ngFor="let item of this.order"
                      [orderUnit]="item"
                      [bouquet]="this.getBouquetById(item.bouquetId)"></app-cart-product>

    <hr class="redFont">
    <h2 class="playfairFontStyle txtCenter">ИТОГО: {{GetToTalSum()}}</h2>
    <app-user-form></app-user-form>
  </div>

  <ng-template #orderIsEmptyError>
    <h2 class = "playfairFontStyle txtCenter">ВАША КОРЗИНА ПОКА ПУСТА...</h2>
  </ng-template>

</div>


